{% load static comments_tags %}

		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/comments.js" %}"></script>
	
	<div class="comments-wrapper">
		<h3> Comments </h3>
		<div class="comments"  style="height:450px;width:100%;overflow-y:scroll">
			{% for comment, liked in comment_liked %}

				<div id="comment-div-{{ comment.id }}" >
					{% include "comments/comment.html" with object=comment liked=liked form=form %}
				</div>

			{% empty %}

				<h3 id='no-comments'> No Comments </h3>

			{% endfor %}
		</div>
	</div>