{% load comments_tags %}

{% if not user.is_authenticated and not allow_anonymous %}
{% else %}
	<div id="comment-input-div">
		<form method="POST" action="{% url "comment-create" %}" class="add-comment-form">
			{% csrf_token %}
			{{ form.errors }}
			{{ form.comment.label }}
			<br>
			<div class="form-group">
				<textarea cols="40" id="id_comment" name="comment" rows="5" class="form-control"></textarea>
			</div>
			{% if target %}	
				<input name="model" value="{% get_model_name target %}" hidden>
				<input name="model_id" value="{{ target.id }}" hidden>
				<input name="app_name" value="{% get_app_name target %}" hidden>
			{% endif %}
			<input id="id_user" name="user" value="{% if user.is_authenticated %}{{ user.id }}{% endif %}" hidden> <br>
			<input type="submit" value="Post" id="add-comment" class="btn btn-primary btn-block" />
		</form>
	</div>
{% endif %}