<!DOCTYPE html>
{% load socialaccount %}
{% providers_media_js %}
{% load staticfiles %}
{% load static %}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> {% block title %} {% endblock title %}| SoCar</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/lightbox.css" rel="stylesheet"> 
    <link href="/static/css/animate.min.css" rel="stylesheet"> 
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">
   <!--  <link rel="stylesheet" type="text/css" href="/static/css/token-input.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/token-input-facebook.css" /> -->
    {% block link %} {% endblock link %}
    {% block extrahead %} {% endblock %}

    <!--/#header-->

   
                            

    <!--/#action-->

    {% block content %}{% endblock content%}
    {% block postman_menu %} {% endblock postman_menu %}


    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="/static/images/home/under.png" class="img-responsive inline" alt="">
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
<!--                         <h2>Testimonial</h2>
 -->                        <div class="media">
                            <div class="pull-left">
<!--                                 <a href="#"><img src="/static/images/home/profile1.png" alt=""></a>
 -->                            </div>
                             <div class="col-md-4 col-sm-4">
                             </div>
                            <div class="media-body">
                                <blockquote>The man who goes alone can start today; but he who travels with another must wait till that other is ready.</blockquote>
                                <h3><a >- Henry David Thoreau</a></h3>
                            </div>
                         </div>
                        <div class="col-md-4 col-sm-4">
                        </div>
                        <div class="media">
                            <div class="pull-left">
<!--                                 <a href="#"><img src="/static/images/home/profile2.png" alt=""></a>
 -->                            </div>
                            <div class="media-body">
                                <blockquote>People don’t take trips, trips take people.</blockquote>
                                <h3><a>- John Steinbeck</a></h3>
                            </div>
                        </div>   
                    </div> 
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Contacts</h2>
                        <address>
                        E-mail: <a href="mailto:kareem.tarek04@gmail.com">kareem.tarek04@gmail.com</a> <br> 
                        Phone: +20 (012) 88777771  <br> 
                        </address>
                        {% block extra_footer %} {% endblock extra_footer %}

<!-- 
                        <h2>Address</h2>
                        <address>
                        Unit C2, St.Vincent's Trading Est., <br> 
                        Feeder Road, <br> 
                        Bristol, BS2 0UY <br> 
                        United Kingdom <br> 
                        </address> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="contact-form bottom">
                        <h2>Feedback</h2>           
                        <form action="/feedback/submit/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea class="form-control" cols="40" id="id_feedback" name="feedback" rows="10" placeholder="We'd really appreciate your feedback .. "></textarea>
                            </div>
                            <input type="submit" class="btn btn-submit" value="Send Feedback">
                        </form>
                    </div>  
                </div>
                <div class="col-sm-12">
                    <<!-- div class="copyright-text text-center">
                        <p>&copy; Your Company 2014. All Rights Reserved.</p>
                            <p>Designed by <a target="_blank" href="http://www.themeum.com">Themeum</a></p>
                    </div> -->
                </div>
            </div>
        </div>
    </footer>

    <!--/#footer-->
<!--/#footer-->
    <script type="text/javascript" src="/static/js/jquery.js"></script>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="/static/js/lightbox.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    {% block script %} {% endblock script %}
</body>

<style type="text/css">

#footer {
    margin-top: 20px;
}

</style>