<!DOCTYPE html>
{% extends "main/base.html"%}
{% load static %}



{% block title %} Connections {% endblock title %}


{% block action %}  
  Connections
{% endblock action %}

{% block extra_action %}  
{% endblock extra_action %}

{% block content %}
  <section id="blog-details" class="padding-top">
      <div class="container">
          <div class="row">
            <div  id = "tab-column" class="col-md-8 col-sm-8" >
              <ul id="tab2" class="nav nav-pills">
                <li class="active">
                <a href="#tab2-item1" data-toggle="tab">Find People Near Me </a></li>
                <li><a href="#tab2-item4" data-toggle="tab">Find Facebook Friends</a></li>
                <li><a href="#tab2-item3" data-toggle="tab">My Friends</a></li>
                <li><a href="#tab2-item2" data-toggle="tab">Friend Requests</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
              <div id= "tab-colum" class="col-md-12 col-sm-12"> 
                <div class="col-md-12 col-sm-12">
                  <div class="single-blog blog-details two-column">
                    <div class="post-content overflow">
                      <div class="author-profile padding">
                        <div class="tab-content">
                          <div class="tab-pane fade active in" id="tab2-item1">
                            {% include "main/user_list.html" %}
                          </div>
                          <div class="tab-pane fade" id="tab2-item2">
                            {% include "main/friend_request_list.html" %}
                          </div>
                          <div class="tab-pane fade" id="tab2-item3">
                            {% include "main/friend_list.html" %}
                          </div>
                           <div class="tab-pane fade" id="tab2-item4">
                            {% include "main/facebook_user_list.html" %}
                          </div>
                        </div>  
                      </div>
                    </div>
                  </div>
                </div>
               </div>
          </div>
      </div>
  </section>
{% endblock content %}

{% block script %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlkHz8nwNGtbzLgpLU8yGcrG8KIEwv07s&libraries=places"  ></script>
  <script src="{% static 'js/google-maps/maps-connections.js' %}"></script>
    <script src="{% static 'js/ajax/friend-requests.js' %}"></script>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "7e8eb33b-fbe0-4915-9b93-09490e3d10df", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  <script type="text/javascript">
  
  </script>
{% endblock script %}