<div class="row well">
    <ul class="list-group " style="height:400px;overflow-y:scroll">
        {% for user in friend_add %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-2" >
                        <img class="media-object" src="{{ user.get_social_account.get_avatar_url }}" alt="">
                    </div>
                    <div class="col-sm-6">
                        <h5>{{user.get_social_account.extra_data.name }}</h5>
                        <h5> Joined {{user.date_joined}}</h5>
                        <h5>
                        <span><a href="{{user.get_social_account.extra_data.link}}">Aly's Facebook </a></span> <br> <br>
                        </h5>
                        <span> 
                            <form action="" method="POST" class="friend-request-form{{user.id}}">
            					{% csrf_token %}
            					<select id="id_receiver" name="receiver" hidden>
            						<option value="{{user.id}}" selected="selected" ></option>
            					</select>
            					<select id="id_sender" name="sender" hidden>
            						<option value="{{current_user.id}}" selected="selected" ></option>
            					</select>
            					<input  id="friend-request-button{{user.id}}" type="button" name="friend-request-button" object="{{user.id}}"  value="Send Friend Request" class="btn btn-sm btn-primary" /> <br><br>
            				</form>
                        </span><br>
                    </div>
                </div>  
            </li>
            <br><br>
        {% endfor %}
</div>
         