<div class="row well">
    <ul class="list-group " style="height:400px;overflow-y:scroll">
        {% for request in friend_requests  %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-2">
                    <img class="media-object" src="/static/images/home/images/user-2.png" alt="">
                </div>
                <div class="col-sm-6">
                    <h3>{{request.sender.username}}</h3>
                    <h3>{{request.sender.email}}</h3>
                    <h3> Joined {{request.sender.date_joined}}</h3>
                    <span><a href="/profile/{{request.sender.id}}/">Check {{request.sender.username}}'s Profile </a></span>
                    <span> 
                        <form action="" method="POST" class="friend-form{{request.sender.id}}">
                            {% csrf_token %}
                            <select id="id_sender" name="sender" hidden>
                                <option value="{{request.sender.id}}" selected="selected" ></option>
                            </select>
                            <select id="id_receiver" name="receiver" hidden>
                                <option value="{{current_user.id}}" selected="selected" ></option>
                            </select>
                            <input  id="accept-friend-button{{request.sender.id}}" type="button" class="btn btn-sm btn-primary" object="{{request.sender.id}}" name="friend-button" value="Accept" /> 
                            <input id="reject-friend-button{{request.sender.id}}" type="button"  class="btn btn-sm btn-danger" object="{{request.sender.id}}"  name="friend-button" value="Reject" /> 
                        </form>
                    </span><br>
                </div>
            </div>  
            <br><br>
        </li>
        {% endfor %}
    </ul>
</div>                                    