<!DOCTYPE html>
{% extends "main/base.html"%}
{% load static %}



{% block title %} Groups {% endblock title %}


{% block action %}   Groups And  Communities  {% endblock action %}


{% block extra_action %}  Closed Communities Are More Privacy {% endblock extra_action %}
  

{% block content %}
<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
              <ul id="tab2" class="nav nav-pills">
                  <li class="active">
                  <a href="#tab2-item1" data-toggle="tab">Your Closed Communities</a></li>
                  <li><a href="#tab2-item2" data-toggle="tab">Groups You're A Part Of</a></li>
              </ul>
            </div>
        </div>
        <div class="row" >  
            <div class="col-md-8">
              <div class="tab-content">
                <div class="tab-pane fade active in" id="tab2-item1">
                  {% include "main/my_group_list.html" %}
                </div>
                <div class="tab-pane fade" id="tab2-item2">
                  {% include "main/member_group_list.html" %}
                </div>
              </div>
            </div>
            <div class="col-md-4">
              {% include "main/group_create_form.html" %}
            </div>
        </div>
    </div>
</section>
    <!--/#projects-->

{% endblock content %}

{% block script %}
    <script src="{% static 'js/ajax/groups.js' %}"></script>
    {{ form.media }}
{% endblock script%}
