<!DOCTYPE html>
{% extends "main/base.html"%}

{% load socialaccount %}
{% providers_media_js %}
{% load staticfiles %}
{% load comments_tags %} 


{% block title %} Groups {% endblock title %}


{% block action %} 
    {{object.name}}
    <br>
    <div class="btn-group">
      <a class="btn btn-primary" href='{% url "trip-detail" object.trip.id%}'> Current Route </a> 
    {% if object.created_by.id == user.id %}
        <a class="btn btn-info" href='{% url "group-update" object.id %}'>  Group Settings </a>
    {% else %}
        <a class="btn btn-info" href='{% url "profile" object.trip.driver.username %}'> Created_by: {{object.trip.driver.username}}</a>  
    {% endif %}
    </div>
     
{% endblock action %}

  
{% block content %}
    <section id="blog-details" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                        <div class="post-content overflow ">  
                            <div class="response-area">
                                <ul class="media-list">
                                    {% get_comments object request.user %}  
                                </ul>
                                {% comment_form object request.user %}                                           
                            </div><!--/Response-area-->
                        </div>
                </div>
                <div  class="col-md-4 col-sm-4  margin-left">
                    <div class="sidebar-item  recent member">
                        <h3>Members</h3>
                        {% for member in object.members.all %}
                        <div class="media">
<!--                             <div class="pull-left">
                                <a href="/profile/{{ member.id }}/"><img src="/static/images/portfolio/project1.jpg" alt=""></a>
                            </div> -->
                            <div class="media-body">
                                <h4><a href="/profile/{{ member.id }}/">{{ member.username }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>    
                </div>
            </div>
        </div>
        <input  type="hidden" name="trip_name_list" value="{{trip_list}}" /> 
    </section>
    <!--/#blog-->
{% endblock content %}

{% block script %}   
    <!-- <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script> -->
    <script src="/static/js/auto-complete.js"></script>
    <script src="/static/js/jquery.textcomplete.js"></script>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "7e8eb33b-fbe0-4915-9b93-09490e3d10df", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    <style
        .column {margin-left:50px;
        }
    </style>
{% endblock script %}

