<!DOCTYPE html>
{% extends "main/base.html"%}
{% load static %}

{% block title %} Group Settings {% endblock title %}


{% block content %}
    <section id="portfolio-information" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contact-form bottom">
                        <form action="" method="post" enctype="multipart/form-data" id="update-group-form">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            <input type="submit" name="update-profile-button" profile_id="{{object.user.id}}" class="btn btn-submit" value="Update" />
                        </form>
                    </div>
                </div>            
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </section>
{% endblock content %}


{% block script %}
    <script src="{% static 'js/ajax/groups.js' %}"></script>
    {{ form.media }}
{% endblock script%}