<h2> Create A Closed Community </h2> <br>
<div class="contact-form bottom">
	<p id="group-create-errors"></p>
    <form action="" method="post" id="group-create" >
        {% csrf_token %}
        <div class="form-group">	
            {{ form.as_p }}
        </div>
        <input type="submit"  class="btn btn-submit" value="Create Group" />
    </form>
</div>
