<!DOCTYPE html>
{% extends "main/base_.html"%}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% load staticfiles %}

{% block title %} Welcome To SoCar {% endblock title %}

{% block action %} {% endblock action %}

{% block extra_action %}  {% endblock extra_action %}


{% block content %} 
    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                    <h1>Carpooling Has Never Been Easier !</h1>
                        <p> SoCar is web-based application that promotes carpooling, it supports diverse features concerned with offering and requesting trips </p>
                        <p> Start saving your gas money and join us for a unique carpooling experience</p>
                        {% if not user.is_authenticated %}
                            <a href='{% url "auth:user-new"%}' class="btn btn-default">SIGN UP</a>
                            <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-info">FACEBOOK</a> 
                            <a  href="/accounts/google/login" class="btn btn-danger" >GOOGLE +</a>  

                        {% endif %}
                    </div>
                    <img src="http://kareemtarek4.github.io/SoCar/static/images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="/static/images/home/slider/house.png" class="slider-house" alt="slider image">
                    <img src="/static/images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="/static/images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="/static/images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/static/images/nature-freak.png" alt="">
                        </div>
                        <h2> Aesthete  </h2>
<!--                         <p> SOCAR is obsessed with mother nature </p>
 -->                        <p> If 100 people were to take advantage of the carpool option every day, more than of 1,320 pounds of carbon 							monoxide and 2,376,000 pounds of carbon dioxide could be removed from the air
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/static/images/fuel.png" alt="">
                        </div>
                        <h2> Rainy Day Saver</h2>
<!--                         <p> SOCAR hate seeing you wasting money on gas when you can share trips </p>
-->                        <p> How much can you save from carpooling? Whether this money be spent on food, a luxury bag, purchasing a new 60 inch tv or paying off your bills, you could save quite a bit regardless. </p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/static/images/relax.png" alt="">
                        </div>
                        <h2> Reliever </h2>
<!--                         <p> SOCAR loves bringing people together </p>
 -->                        <p> Most people spend over 400 hours a year commuting to work. Carpooling makes the process more enjoyable and 								decre    ases stress for riders </p>
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <!--/#services-->	
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/static/images/liftshare logo.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Trips</h2>
						<P> SoCar supports diverse features concerned with offering and requesting trips, 
                        once you're a part of SoCar's community you gain access to our decent  database where you can find numerous trips created by other users. </P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Trip Groups</h2>
                        <P> What is more to the platform is that it facilitates the interaction between trip participants, they are are able to exchange their thoughts and reviews about trips without the need of third party applications</P>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/static/images/groups-2.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="/static/images/connections.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Connections</h2>
                        <P> SoCar is a social application, it is fond of bringing people together, the application can easily spot people near to the user's location of which he can add to his network friends then involve with his trips. </P>
                      <!--   <P> If you're logged in with your Facebook account SoCar would make use of your account's information to fetch Facebook friends who are also part of SoCar's community </P> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--/#features-->

   <!--  <section id="clients">
        <div id="carousel-container">
                <h2 class="page-header">Screens</h2>conversion
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators visible-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                        <img src="/static/images/carousel/trip-create.png" class="img-responsive" alt="">

                        </div>
                        <div class="item">
                            <img src="/static/images/carousel/trip-join.png" class="img-responsive" alt="">
                        </div>
                        <div class="item">
                            <img src="/static/images/carousel/user-list.png" class="img-responsive" alt="">
                        </div>
                        <div class="item">
                            <img src="/static/images/carousel/group-create-1.png" class="img-responsive" alt="">
                        </div>
                        <div class="item">
                            <img src="/static/images/carousel/group-list-1.png" class="img-responsive" alt="">
                        </div>
                        <div class="item">
                            <img src="/static/images/carousel/group-feed.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control hidden-xs" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div><
     </section> -->

{% endblock content %}


{% block extra_footer %} 
    <h2> Conversion Rate  </h2>
    <ul class="elements">
        <h5> <li><i class="fa fa-angle-right"></i>Visits: {{visits}}  </li> </h5>
        <h5> <li><i class="fa fa-angle-right"></i>Trips Offered: {{object_hit_count.trips_created}}</li> </h5>
        <h5> <li><i class="fa fa-angle-right"></i>Communities Created: {{object_hit_count.groups_created}}</li> </h5>
        <h5> <li><i class="fa fa-angle-right"></i>Users Registered: {{object_hit_count.sign_up_forms}}</li> </h5>
    </ul>
{% endblock extra_footer %}