<div class="portfolio-items">
    {% for group in my_groups  %}
        <div class="col-xs-6 col-sm-7 col-md-4 portfolio-item ">
            <div class="portfolio-wrapper">
                <div class="portfolio-single">
                    <div class="portfolio-thumb">
                        <img src="/static/images/home/images/group-3.jpg" class="img-responsive" alt="">
                    </div>
                    <!-- <div class="portfolio-view">
                        <ul class="nav nav-pills">
                        <h3 class="post-title "> Members</h3>
                            {% for member in group.members.all %}
                               <li><span><a href="/profile/{{ member.id }}/"> &nbsp {{ member.username }} &nbsp   </a></span> </li>
                         {% endfor %}
                        </ul>
                    </div> -->
                </div>
                <div class="portfolio-info ">
                    <h2 class="post-title"><a href='{% url "group-detail" group.id%}'> {{group.name}} </a></h2> <br>
                </div>
            </div>
        </div>
    {% endfor%}
</div>

    <!--/#projects-->
