<form action="{% url "profile-update" object.user.id%}" method="POST" enctype="multipart/form-data" id="update-profile-form">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}
    </div>
    <input type="submit" class="btn btn-common uppercase" value="Update" />
</form>
