<!DOCTYPE html>
{% extends "main/base.html"%}
{% load static %}



{% block title %} Trips {% endblock title %}


{% block action %}  
  SoCar  Trips
{% endblock action %}

{% block extra_action %}  
{% endblock extra_action %}

{% block link %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock link %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
    </div>
    <div id = "tab-column"  class="col-md-6">
      <ul id="tab2" class="nav nav-pills">
          <li class="active">
          <a href="#tab2-item1" data-toggle="tab">Offered Trips</a></li>
          <li><a href="#tab2-item2" data-toggle="tab">Your Trips</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="tab-content">
        <div class="tab-pane fade active in" id="tab2-item1">
          <button type="button" name="gender-button" class="btn btn-default filter-button"> Trips for women</button>
          <input id="datepicker" type="hidden" disabled="disabled" />
          <div class="list-div">
            {% include "main/offered_trip_list.html" %}
          </div>
        </div>
        <div class="tab-pane fade" id="tab2-item2">
          {% include "main/my_trip_list.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script src="{% static 'js/ajax/join-trip.js' %}"></script>
  <script src="{% static 'js/ajax/filters.js' %}"></script>
  <style>
   #tab-column {
            margin-left: 28px;
         }
  .filter-button {
          margin-left: 12px;
       }
  </style>
{% endblock script %}