<!DOCTYPE html>
{% extends "main/base.html"%}
{% load static %}

{% block title %} {{object.name}} {% endblock title %}

{% block action %}  
    {{object.name}}
{% endblock action %}

{% block content %}  
    <section id="portfolio-information" class="padding-top">
        <div class="container">
            <div class="row">   
                <div class="col-sm-3 ">
                </div>  
                <div class="col-sm-7 ">
                    <meta name="viewport" content="initial-scale=1.0">
                    <meta charset="utf-8">
                    <style>
                        html, body, #map {
                        height: 500px;
                        margin: 0px 0px 0px 0px;
                        padding: 0px 5px 0px 5px;
                        width: 100%;
                        }
                    </style>
                    <div id="map"></div>
                    <div class="contact-form bottom">
                        <input id="source_latitude" name="variable" value="{{object.source_latitude}}" hidden readonly>
                        <input id="source_longitude" name="variable" value="{{object.source_longitude}}" hidden readonly>
                        <input id="destination_latitude" name="variable" value="{{object.destination_latitude}}" hidden readonly>
                        <input id="destination_longitude" name="variable" value="{{object.destination_longitude}}" hidden readonly>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}  

{% block script %} 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlkHz8nwNGtbzLgpLU8yGcrG8KIEwv07s"   ></script>
    <script src="{% static 'js/maps-static.js' %}" async  ></script> 
{% endblock script %}