<!DOCTYPE html>
{% extends "main/base.html"%}
{% load static %}

{% block title %} Offer A Trip {% endblock title %}

{% block link %}  
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css"> 
{% endblock link %}

{% block action %}  Offer A New Trip{% endblock action %}
{% block extra_action %} Your trip will be posted on SoCar's community{% endblock extra_action%}

{% block content %}  
    <section id="portfolio-information" class="padding-top">
        <div class="container">
            <div class="row">
            <div class="col-sm-8">
                <meta name="viewport" content="initial-scale=1.0">
                <meta charset="utf-8">
                <style>
                        html, body, #map {
                        height: 500px;
                        margin: 0px 0px 0px 0px;
                        padding: 0px 0px 0px 5px;
                        width: 100%;
                        }
            

                </style>
                <div id="map"></div>
            </div>
                <div class="col-sm-4">
                    <div class="contact-form bottom">
                        <form action="" method="post" >
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            <input type="submit"  class="btn btn-submit" value="Post Trip" />
                        </form>
                    </div>
                </div>            
            </div>
        </div>
    </section>
{% endblock content %}  

{% block script %} 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlkHz8nwNGtbzLgpLU8yGcrG8KIEwv07s&libraries=places"  ></script>
    <script src="{% static 'js/google-maps/maps.js' %}" async  ></script>
    <script src="{% static 'js/date-time-pickers.js' %}"></script>
    <script src="{% static 'js/ajax/create-trip.js' %}"></script> 
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
    {{ form.media }}
{% endblock script %}