<div class="row well">
    <div class="col-sm-6">
        <ul class="list-group " style="height:400px;overflow-y:scroll">
    {% for profile in people_near %}
        <li class="list-group-item">
            
        
        <div class="row" >
            <div class="col-sm-4" >
                <img width="81px" height ="81px" class="media-object" src="/static/images/home/images/user-2.png" alt="">
            </div>
            <div class="col-sm-6    ">
                <h3>{{profile.user.username}}</h3>
                <h5>Joined: {{profile.user.date_joined}}</h5>
<!--                 <h5> Lives in {{profile.location.area}} </h5>
 -->                <h5>
                 <span><a href="/profile/{{profile.user.id}}/">Check {{profile.user.username}}'s Profile </a></span> <br> <br>
                </h5>
                <span> 
                    <form action="" method="POST" class="friend-request-form{{profile.user.id}}">
    					{% csrf_token %}
    					<select id="id_receiver" name="receiver" hidden>
    						<option value="{{profile.user.id}}" selected="selected" ></option>
    					</select>
    					<select id="id_sender" name="sender" hidden>
    						<option value="{{current_user.id}}" selected="selected" ></option>
    					</select>
    					<input  id="friend-request-button{{profile.user.id}}" type="button" name="friend-request-button" object="{{profile.user.id}}"  value="Send Friend Request" class="btn btn-sm btn-primary" /> <br><br> 
                    </form>
                </span><br>
            </div>
        </div>  
        </li>
        

    {% endfor %}
    </ul>
    <input  id="people_near_input" type="hidden" name="people_near_input" value="{{location_list_json}}" /> 
    <input type="hidden" name="user_location_input" object="{{user_location}}"  value="{{user_location}}" /> 
<!--     <input type="hidden" name="name_list" value="{{name_list}}"/> 
 -->    </div>
    <div class="col-sm-6">
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
                html, body, #map {
                height: 400px;
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 5px;
                width: 100%;
                }
        </style>
        <div id="map"></div>
    </div>
</div>