<!DOCTYPE html>
<html>
<head>
	<title>Reset Password!</title>
	<font size="8"><center>Enter Your New Password</center></font
</head>
<body>
	<form method="post" action="">{% csrf_token %}
	     {{ form.errors }}
         {{ form.as_p }}
    	  <input type="submit" value="Reset" />
	</form>
	<a href="{% url 'main:project-listing' %}"> return to home page </a>
</body>
</html>