<!DOCTYPE html>
{% extends "main/base.html"%}
{% load static %}

{% block title %} Login {% endblock title %}


{% block action %}  
    Log in
{% endblock action %}

{% block content %}  
    <section id="portfolio-information" class="padding-top">
        <div class="container">
            <div class="row">
            	<div class="col-sm-5">
            	<div>
                <div class="col-sm-5">
                     <div class="form-group">
                        <form method="post" action="">
							{% csrf_token %}
						      {{ form.as_p }}
                              <input  type="submit" value="Log in"  class="btn btn-default"  />
						</form>
                    </div>
                </div>            
            </div>
        </div>
    </section>

{% endblock content %}  

