<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<html>
	<head>
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static "js/sweetalert.min.js" %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static "css/sweetalert.css" %}">
		<title>Now Check Mail</title>
	</head>
	<body>
		<div class="container wrapper">
			<div class="page">
	    		<div class="row">
	        		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 recipe-name">
						
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			swal("Password Reset", "Your Password has been reset!", "success");
              setTimeout(function() {
                window.location = '/' 
              }, 3000);
		})
	</script>
{% endblock script %}<script type="text/javascript">
</script>