<!DOCTYPE html>
{% extends "main/base.html"%}
{% load static %}

{% block title %} Sign Up {% endblock title %}


{% block action %}  
    Sign Up
{% endblock action %}

{% block extra_action %}  
    Circle is range to search for nearby users
{% endblock extra_action %}



{% block content %}  
    <section id="portfolio-information" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="contact-form bottom">
                        <form method="post" action="">
							{% csrf_token %}
						    {% for field in form %}
							    <div class="fieldWrapper">
							        {{ field.errors }}
							        {{ field.label_tag }} {{ field }} 
							        {% if field.help_text %}
							        	<p class="help">{{ field.help_text|safe }}</p>
							        {% endif %}
							    </div>
							{% endfor %}
					    	  <input id ="button" type="submit" value="Sign Up"  class="btn btn-default"   />
						</form>
                    </div>
                </div>
                <div class="col-sm-7">
                    <meta name="viewport" content="initial-scale=1.0">
                    <meta charset="utf-8">
                    <style>
                        html, body, #map {
                        height: 500px;
                        margin: 0px 0px 0px 0px;
                        padding: 0px 0px 0px 5px;
                        width: 100%;
                        }
                        .controls {
                        margin-top: 10px;
                        border: 1px solid transparent;
                        border-radius: 2px 0 0 2px;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        height: 32px;
                        outline: none;
                        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                        }
                        #pac-input {
                        background-color: #fff;
                        font-family: Roboto;
                        font-size: 15px;
                        font-weight: 300;
                        margin-left: 12px;
                        padding: 0 11px 0 13px;
                        text-overflow: ellipsis;
                        width: 300px;
                        }

                        #pac-input:focus {
                        border-color: #4d90fe;
                        }

                        .pac-container {
                        font-family: Roboto;
                        }

                        #type-selector {
                        color: #fff;
                        background-color: #4d90fe;
                        padding: 5px 11px 0px 11px;
                        }

                        #type-selector label {
                        font-family: Roboto;
                        font-size: 13px;
                        font-weight: 300;
                        }
                        #target {
                        width: 345px;
                        }

                    </style>
                    <input id="pac-input" class="controls" type="text" placeholder="Where Do You Live">
                    <div id="map"></div>
                </div>           
            </div>
        </div>
    </section>

    <style type="text/css">

    #button {
        margin-top: 0px;
    }
    </style>

     <style type="text/css">

    #map {
        margin-left: 150px;
    }
    </style>
{% endblock content %}  

{% block script %} 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlkHz8nwNGtbzLgpLU8yGcrG8KIEwv07s&libraries=places"   ></script>
    <script src="{% static 'js/google-maps/maps-sign-up.js' %}" async  ></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
{% endblock script %}
